@tailwind base;
@tailwind components;
@tailwind utilities;

/* *, body{
    transition: all 0.3s ease-in-out !important;
} */

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  background-color: #b3b0e8;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
}
.dark ::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  background-color: #081b18;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb {
  background: #08774d;
  box-shadow: 0px 0px 30px 5px #08774d;
  width: 5px;
}

#subDiv > div {
  width: 100% !important;
}

.dark #subDiv > .h-px {
  width: 30% !important;
  height: 1px !important;
  background-color: #393c49 !important;
  z-index: -10 !important;
}

tr:nth-child(odd) {
  background-color: #70edbb54 !important;
  border: none !important;
}
th {
  background-color: #ffffff !important;
  border: none !important;
  color: black !important;
}

.dark tr:nth-child(odd) {
  background-color: #124339 !important;
  border: none !important;
}

tr:nth-child(even) {
  background-color: #ffffff !important;
  border: none !important;
}
.dark tr:nth-child(even) {
  background-color: #0c2b25 !important;
  border: none !important;
}

.dark th {
  background-color: #081c18 !important;
  border: none !important;
  color: white !important;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  text-align: center;
}

.table {
  color: black;
}

.dark .table {
  color: white;
}


div[role="tooltip"]{
  background-color: #08774d !important;
  color: white !important;
}



/**
 * START  User Profile Letter Loading Style
 */

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 10px solid;
  border-color: rgba(0, 137, 66, 0.15) rgba(0, 137, 66, 0.25)
    rgba(0, 137, 66, 0.35) rgba(0, 137, 66, 0.5);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**
 * END  User Profile Letter Loading Style
 */
